<p>Dodanie nowego dokumentu</p>

<mat-form-field appearance="outline">
  <mat-label>Typ dokumentu</mat-label>
  <input matInput type="text"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Nazwa dokumentu</mat-label>
  <input matInput type="text"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Data Dokumentu:</mat-label>
  <input matInput type="text"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>
    Planowana data dostawy
  </mat-label>
  <input matInput type="text"/>
</mat-form-field>




