<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <router-outlet></router-outlet>
  <button routerLink="/add">Dodaj dokument</button>
</main>
